{% extends 'base.html' %}

{% block title %}Rename Coumns{% endblock title %}

{% block style %}
{% comment %} <style>
    .custom-checkbox .form-check-input:checked + .form-check-label::before {
        background-color: #198754; /* Change to match your theme */
        border-color: #198754; /* Change to match your theme */
    }
    .custom-checkbox .form-check-input:focus + .form-check-label::before {
        box-shadow: 0 0 0 0.25rem rgba(25, 135, 84, 0.25);
    }
</style> {% endcomment %}
{% endblock style %}

{% block sidebar %}
    <div class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-laptop me-2"></i>Columns</a>
        <div class="dropdown-menu bg-transparent border-0">
            <a href="/delete_columns/{{id}}" class="dropdown-item">Delete</a>
            <a href="/rename_columns/{{id}}" class="dropdown-item">Rename</a>
        </div>
    </div>

    <div class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-laptop me-2"></i>NA Values</a>
        <div class="dropdown-menu bg-transparent border-0">
            <a href="/fillna/{{id}}" class="dropdown-item">Fill NA</a>
            <a href="/dropna/{{id}}" class="dropdown-item">Drop NA</a>
        </div>
    </div>
{% endblock sidebar %}


{% block body %}



<div class="container my-5">
    <h2>Rename Columns</h2>
    <form method="POST" action="/rename_columns/{{id}}/">
        {% csrf_token %}

        <div class="row">
            {% for key in data.0.keys %}
            <div class="col-md-1 mt-1 mb-1">
                    <input type="text" class="form-control" value="{{key}}" placeholder="{{key}}" name="columns_to_rename">
                    {% comment %} <label class="form-check-label" for="{{key}}">{{key}}</label> {% endcomment %}
            </div>
            {% endfor %}
        </div>

        <button type="submit" class="btn btn-success mt-3">Submit</button>
    </form>
</div>

    {% endblock body %}

    {% block script %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>


    
    
    {% endblock script %}


    {% comment %} <div class="container border">
        <h1>Delete columns</h1>
        <div class="row">
            {% for key in data.0.keys %}  <!-- Assuming data is a list of dictionaries -->
            <div class="col-md-1 col-sm-1 mt-1 mt-1">
                <button type="button" class="btn btn-outline-danger btn-custom-size " ><i class="fas fa-trash-alt"></i> {{ key }}</button>
            </div>
            {% endfor %}

        </div>
    </div> {% endcomment %}